button {
    background-color: green;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: darkgreen;
}

@media screen and (max-width: 768px) {
    button {
        padding: 6px 12px;
        font-size: 10px;
        margin: 2px 1px;
    }
}