h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

ol {
    font-size: 1.8rem;
    text-align: left;
}

ol li {
    margin-bottom: 1rem;
}

span {
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 60px auto 0;
    padding: 0 20px;
    background-color: wheat;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 100px;
    }
}
